.center {
margin: auto;
width:40em;
}

body {
	background-color: #000;
	font-family: "Segoe UI";
	color: #fff;
	background-image: url('/imgs/spc.png');
	background-position: right; /*Positioning*/
	/*background-repeat: no-repeat; /*Prevent showing multiple background images*/
	background-size: 50em;
}
form {
	display: inline-block;
	font-weight: 700;
}
#ytarcontainer {
}
#ytar {
}

ul {
	list-style-type: square;
}

ul.a {
	list-style-type: cjk-ideographic;
}

li {
	font-weight: 400;
	color: #eee;
}
input {
	padding-left:0.2em;
}

a { 
text-decoration: none;
color: #fff;
}

a:hover {
color: #f00;
}

a:visited {
color: purple;
}



