.center {
margin: auto;
width:40em;
}

body {
background-color: #078;
}

ul {
list-style-type: square;
}

ul.a {
	list-style-type: cjk-ideographic;
}

a { 
text-decoration: none;
color: #fff;
}

a:hover {
color: #f00;
}

a:visited {
color: purple;
}



